@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");
* {
	@apply box-border m-0 p-0;
	font-family: 'Poppins', sans-serif;
}
.slides-container {
	@apply bg-slate-200 rounded-md;
	width: 95vw;
	height: 90vh;
}
.slide {
	@apply w-full h-full p-8;
}
.slide.slide_title {@apply flex justify-center items-center flex-col}
.slide.slide_title h1 {@apply text-6xl}
.slide.slide_title h2 {@apply text-5xl}
.slide.slide_title h3 {@apply text-4xl}
.slide:not(.current) {@apply hidden}

.slide *:not(.slide * *), 
.slide blockquote *:not(.slide blockquote * *):not(.slide blockquote *:last-child) {margin-bottom: 10px}
blockquote {
	@apply block pl-3 py-3 w-full bg-slate-300 rounded-md;
	border-left: 5px solid #aaa;
}
ul {
	margin-left: 15px;
}
code.hljs, code.hljs * {
	@apply font-mono text-base rounded-md;
}
/* Inline code elements */
code:not(pre code) {
	@apply font-mono bg-slate-300 rounded-md px-2;
}